.more-screen .icon-row {
    margin-top: 35px;
}

.more-suggestions {
    margin-top: 35px;
    border-top: var(--main-border);
    padding-top: 35px;
}

.more-suggestions__title {
    margin-bottom: 25px;
}